$base-width: 300px;
$title-margin: 10px;
$card-width: $base-width + $title-margin * 3 * 2;
$tile-width: $base-width / 3;


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform-style: preserve-3d;
    perspective: 5000px;
}


.card {
    background: lightcoral;
    border-radius: 20px;
    width: $card-width;
    display: flex;
    flex-wrap: wrap;
}


.tile {
    background: #ffffff;
    border-radius: 5px;
    margin: $title-margin;
    width: $tile-width;
    height: $tile-width;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    transition: 0.75s;
    transform: rotateY(180deg);
}


.selected_tile {
    transform: rotateY(0deg);
}


.tile::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #aecb41;
    // opacity: .75;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}


.selected_tile::after {
    transform: rotateY(180deg);
}


.btn {
    color: white;
    background: #f08080;
    padding: 15px 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
    transition: 2s;
}


.btn:hover {
    border: 1px solid #f08080;
    color: #f08080;
    background: #ffffff;
}
